@keyframes heartbeat {
  0% {
    transform: scale(1.7);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.7);
  }
}

h1 {
  text-align: center;
  animation: heartbeat 1.3s infinite;
}